<h2>Olá {{ name }},</h2>

<p>Parece que você solicitou uma recuperação da sua senha, para prosseguir clique no link abaixo.</p>

<a href="{{ resetPasswordUrl }}" target="_blank">Recuperar Senha</a>

<p>Caso não tenha feito a solicitação, favor descartar o e-mail.</p>

<p>
    Atenciosamente,
    <strong>Equipe LAR</strong>
</p>